Repository ax-foundry/axis: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: ['--fix']
        files: ^backend/
      - id: ruff-format
        files: ^backend/app/

  # Backend: mypy type check (matches CI backend-typecheck job)
  - repo: local
    hooks:
      - id: backend-mypy
        name: backend mypy
        entry: bash -c 'cd backend && mypy app --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npx eslint --fix'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

develop & docs
  Makefile
  backend/README.md
  backend/pyproject.toml
  backend/requirements.txt
  docs/development/setup.md
  docs/getting-started/installation.md
  docs/stylesheets/extra.css
Due: none

develop & docs (#2)
  Makefile
  backend/README.md
  backend/pyproject.toml
  backend/requirements.txt
  docs/development/setup.md
  docs/getting-started/installation.md
  docs/stylesheets/extra.css
Due: none

fmt
  .secrets.baseline
  backend/app/config/__init__.py
  backend/app/config/db/__init__.py
  backend/app/config/db/_base.py
  backend/app/config/db/duckdb.py
  backend/app/config/db/eval_db.py
  backend/app/config/db/human_signals.py
  backend/app/config/db/kpi.py
  backend/app/config/db/monitoring.py
Due: backend-mypy

monitor analysis
  backend/app/routers/monitoring_analytics.py
  backend/app/routers/store.py
  frontend/src/app/monitoring/page.tsx
  frontend/src/components/monitoring/AnalysisInsightsTab.tsx
  frontend/src/components/monitoring/ClassificationMetricsTab.tsx
  frontend/src/components/monitoring/MetricCategoryTabs.tsx
  frontend/src/components/shared/SignalDisplay.tsx
Due: backend-mypy, prettier, eslint

title
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
Due: prettier, eslint

shimmer config
  backend/app/config/paths.py
  backend/app/config/theme.py
  backend/app/routers/config.py
  backend/config/theme.yaml.example
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/lib/theme.ts
  frontend/src/stores/theme-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

shimmer config
  backend/app/config/theme.py
  backend/app/routers/config.py
  docs/configuration/customization.md
  docs/configuration/environment-variables.md
  docs/configuration/theming.md
  docs/configuration/yaml-configs.md
  docs/development/repository-model.md
Due: backend-mypy

Monitor analysis (#4)
  backend/app/config/paths.py
  backend/app/config/theme.py
  backend/app/routers/config.py
  backend/app/routers/monitoring_analytics.py
  backend/app/routers/store.py
  backend/config/theme.yaml.example
  docs/configuration/customization.md
  docs/configuration/environment-variables.md
  docs/configuration/theming.md
  docs/configuration/yaml-configs.md
  docs/development/repository-model.md
  frontend/src/app/globals.css
  frontend/src/app/monitoring/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/monitoring/AnalysisInsightsTab.tsx
  frontend/src/components/monitoring/ClassificationMetricsTab.tsx
  frontend/src/components/monitoring/MetricCategoryTabs.tsx
  frontend/src/components/shared/SignalDisplay.tsx
  frontend/src/lib/theme.ts
  frontend/src/stores/theme-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

ploting Y axis
  frontend/src/components/production/kpi/KPITrendChart.tsx
Due: prettier, eslint

ploting Y axis (#5)
  frontend/src/components/production/kpi/KPITrendChart.tsx
Due: prettier, eslint

docker backend
  backend/Dockerfile
Due: none

docker backend (#6)
  backend/Dockerfile
Due: none

sec
  .secrets.baseline
Due: none

what if v1
  backend/app/plugins/agent_replay/config.py
  backend/app/plugins/agent_replay/models/__init__.py
  backend/app/plugins/agent_replay/models/whatif_schemas.py
  backend/app/plugins/agent_replay/routers/replay.py
  backend/app/plugins/agent_replay/services/_shared.py
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/app/plugins/agent_replay/services/review_service.py
  backend/app/plugins/agent_replay/services/whatif_service.py
  backend/config/agent_replay.yaml.example
  frontend/src/app/agent-replay/page.tsx
  frontend/src/components/agent-replay/index.ts
  frontend/src/components/agent-replay/whatif/DiffHighlighter.tsx
  frontend/src/components/agent-replay/whatif/SimulationResults.tsx
  frontend/src/components/agent-replay/whatif/VariableEditor.tsx
  frontend/src/components/agent-replay/whatif/WhatIfPanel.tsx
  frontend/src/components/agent-replay/whatif/WhatIfToolbar.tsx
  frontend/src/components/agent-replay/whatif/index.ts
  frontend/src/lib/api/replay-api.ts
  frontend/src/lib/diff-utils.ts
  frontend/src/lib/hooks/useReplayData.ts
  frontend/src/stores/replay-store.ts
  frontend/src/types/replay.ts
  frontend/tailwind.config.ts
Due: backend-mypy, prettier, eslint

what if v1
  frontend/src/app/agent-replay/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/agent-replay/AgentIdentityBar.tsx
  frontend/src/components/agent-replay/DatasetPushControls.tsx
  frontend/src/components/agent-replay/FailureStepSelector.tsx
  frontend/src/components/agent-replay/NodeDetailPanel.tsx
  frontend/src/components/agent-replay/ObservationTree.tsx
  frontend/src/components/agent-replay/ReviewPanel.tsx
  frontend/src/components/agent-replay/VerdictSelector.tsx
  frontend/src/components/agent-replay/whatif/SimulationResults.tsx
  frontend/src/components/agent-replay/whatif/VariableEditor.tsx
  frontend/src/components/agent-replay/whatif/WhatIfPanel.tsx
Due: prettier, eslint

what if v2
  backend/app/config/env.py
  backend/app/plugins/agent_replay/config.py
  backend/app/plugins/agent_replay/models/replay_schemas.py
  backend/app/plugins/agent_replay/routers/replay.py
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/config/agent_replay.yaml.example
  backend/pyproject.toml
  backend/requirements.txt
  frontend/src/app/agent-replay/page.tsx
  frontend/src/components/agent-replay/whatif/DiffHighlighter.tsx
  frontend/src/components/agent-replay/whatif/SimulationResults.tsx
  frontend/src/components/agent-replay/whatif/VariableEditor.tsx
  frontend/src/components/agent-replay/whatif/WhatIfPanel.tsx
  frontend/src/components/align/review/PatternSidebar.tsx
  frontend/src/types/replay.ts
Due: backend-mypy, prettier, eslint

multi-agent
  backend/app/plugins/agent_replay/config.py
  backend/app/plugins/agent_replay/models/replay_schemas.py
  backend/app/plugins/agent_replay/routers/replay.py
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/config/agent_replay.yaml.example
  frontend/src/app/agent-replay/page.tsx
  frontend/src/types/replay.ts
Due: backend-mypy, prettier, eslint

kpi change v1
  backend/app/config/db/kpi.py
  backend/app/plugins/agent_replay/config.py
  backend/app/services/kpi_service.py
  backend/config/kpi_db.yaml.example
  backend/pyproject.toml
  backend/tests/test_kpi_service.py
Due: backend-mypy

what-if
  backend/app/config/db/kpi.py
  backend/app/models/kpi_schemas.py
  backend/app/plugins/agent_replay/models/whatif_schemas.py
  backend/app/plugins/agent_replay/services/_shared.py
  backend/app/routers/kpi.py
  backend/app/services/kpi_service.py
  backend/config/kpi_db.yaml.example
  frontend/src/components/agent-replay/AgentIdentityBar.tsx
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/components/production/kpi/KPICompositionChart.tsx
  frontend/src/components/production/kpi/KPISankeyChart.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/stores/kpi-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

what-if
  backend/app/services/kpi_service.py
Due: backend-mypy

lint
  backend/app/plugins/agent_replay/config.py
  frontend/src/components/align/review/PatternSidebar.tsx
  frontend/src/components/human-signals/charts/BarChart.tsx
Due: backend-mypy, prettier, eslint

lint
  backend/app/plugins/agent_replay/services/replay_service.py
Due: backend-mypy

lint
  backend/app/plugins/agent_replay/models/whatif_schemas.py
Due: backend-mypy

lint
  backend/requirements.txt
Due: none

date range picker
  frontend/src/app/human-signals/page.tsx
  frontend/src/app/monitoring/page.tsx
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/components/ui/TimeRangeSelector.tsx
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/lib/utils.ts
  frontend/src/stores/kpi-store.ts
Due: prettier, eslint

date range
  backend/app/models/kpi_schemas.py
  backend/app/routers/kpi.py
  backend/app/services/kpi_service.py
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/components/production/kpi/KPICategoryStrip.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/stores/kpi-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

date range
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/components/production/kpi/KPICategoryStrip.tsx
Due: prettier, eslint

Date ranger (#8)
  backend/app/models/kpi_schemas.py
  backend/app/routers/kpi.py
  backend/app/services/kpi_service.py
  frontend/src/app/human-signals/page.tsx
  frontend/src/app/monitoring/page.tsx
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/components/production/kpi/KPICategoryStrip.tsx
  frontend/src/components/ui/TimeRangeSelector.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/lib/utils.ts
  frontend/src/stores/kpi-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

fix tabs
  backend/app/routers/monitoring_analytics.py
Due: backend-mypy

db-load fix
  backend/app/routers/store.py
  frontend/src/app/monitoring/page.tsx
  frontend/src/components/monitoring-data-initializer.tsx
  frontend/src/components/monitoring/executive-summary/HealthIndicator.tsx
  frontend/src/lib/executive-summary-utils.ts
  frontend/src/lib/hooks/useProductionOverview.ts
Due: backend-mypy, prettier, eslint

db-load fix pre
  frontend/src/app/monitoring/page.tsx
  frontend/src/lib/hooks/useProductionOverview.ts
Due: prettier, eslint

Db pull (#9)
  backend/app/routers/monitoring_analytics.py
  backend/app/routers/store.py
  frontend/src/app/monitoring/page.tsx
  frontend/src/components/monitoring-data-initializer.tsx
  frontend/src/components/monitoring/executive-summary/HealthIndicator.tsx
  frontend/src/lib/executive-summary-utils.ts
  frontend/src/lib/hooks/useProductionOverview.ts
Due: backend-mypy, prettier, eslint

human_signals duck
  backend/app/plugins/agent_replay/models/whatif_schemas.py
  backend/app/routers/human_signals.py
  backend/app/routers/monitoring_analytics.py
  backend/app/services/sync_engine.py
  backend/sample_data/human_signals_sample.csv
  frontend/src/app/human-signals/page.tsx
  frontend/src/components/eval-data-initializer.tsx
  frontend/src/components/human-signals-data-initializer.tsx
Due: backend-mypy, prettier, eslint

human_signals duck fmt
  backend/app/plugins/agent_replay/models/whatif_schemas.py
Due: backend-mypy

human_signals duck fmt
  backend/app/plugins/agent_replay/models/whatif_schemas.py
  backend/pyproject.toml
Due: backend-mypy

human_signals duck fmt
  backend/app/services/sync_engine.py
Due: backend-mypy

human_signals duck (#10)
  backend/app/plugins/agent_replay/models/whatif_schemas.py
  backend/app/routers/human_signals.py
  backend/app/routers/monitoring_analytics.py
  backend/app/services/sync_engine.py
  backend/pyproject.toml
  backend/sample_data/human_signals_sample.csv
  frontend/src/app/human-signals/page.tsx
  frontend/src/components/eval-data-initializer.tsx
  frontend/src/components/human-signals-data-initializer.tsx
Due: backend-mypy, prettier, eslint
