Repository ax-foundry/axis: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: ['--fix']
        files: ^backend/
      - id: ruff-format
        files: ^backend/app/

  # Backend: mypy type check (matches CI backend-typecheck job)
  - repo: local
    hooks:
      - id: backend-mypy
        name: backend mypy
        entry: bash -c 'cd backend && mypy app --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npx eslint --fix'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

md
  docs/copilot-oai-agents.md
  docs/copilot-pydantic-ai.md
Due: none

tracing
  backend/.env.example
  backend/app/copilot/agent.py
  backend/app/copilot/oai_agent.py
  backend/app/copilot/tracing.py
  backend/app/routers/ai.py
  backend/tests/copilot/__init__.py
  backend/tests/copilot/test_copilot_tracing.py
Due: backend-mypy

user-id
  backend/app/config/constants.py
  backend/app/config/env.py
  backend/app/copilot/tracing.py
  backend/app/models/copilot_schemas.py
  backend/app/routers/ai.py
  backend/tests/copilot/test_copilot_tracing.py
  backend/tests/routers/__init__.py
  backend/tests/routers/test_ai_user_id.py
  frontend/src/app/api/[...path]/route.ts
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/lib/constants.ts
  frontend/src/lib/hooks.ts
  frontend/src/lib/sse.ts
  frontend/src/stores/copilot-store.ts
Due: backend-mypy, prettier, eslint

tests
  backend/app/copilot/agent.py
  backend/app/services/duckdb_store.py
  backend/tests/copilot/test_copilot_tracing.py
Due: backend-mypy

pre
  .secrets.baseline
  backend/app/copilot/agent.py
  backend/app/copilot/oai_agent.py
  backend/app/routers/store.py
  backend/scripts/generate_metric_catalog.py
  backend/scripts/generate_schema_hints.py
  backend/tests/copilot/test_skill_registry.py
  backend/tests/routers/test_ai_user_id.py
Due: backend-mypy

fmt
  backend/app/copilot/hooks.py
  backend/app/copilot/metric_catalog.py
  backend/app/copilot/schema_hints.py
  backend/app/copilot/skills/__init__.py
  backend/app/copilot/skills/loader.py
  backend/app/copilot/skills/registry.py
  backend/app/copilot/sql_examples.py
  backend/app/routers/datasets.py
  backend/config/schema_hints.yaml.example
Due: backend-mypy

fmt
  backend/scripts/generate_metric_catalog.py
  backend/scripts/generate_schema_hints.py
  backend/tests/copilot/test_skill_registry.py
Due: none

fmt
  .secrets.baseline
  backend/tests/copilot/test_copilot_tracing.py
  backend/tests/copilot/test_skill_registry.py
  backend/tests/test_agent_replay.py
  backend/tests/test_agent_replay_search_db.py
Due: none

hardening
  backend/app/copilot/agent.py
  backend/app/copilot/oai_agent.py
  backend/app/copilot/schema_hints.py
  backend/app/copilot/signal_schemas.py
  backend/app/copilot/sql_examples.py
  backend/app/models/copilot_schemas.py
  backend/app/routers/ai.py
  backend/config/schema_hints.yaml.example
  backend/config/sql_examples.yaml.example
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/sse.ts
  frontend/src/stores/copilot-store.ts
Due: backend-mypy, prettier, eslint

fmt
  backend/app/copilot/signal_schemas.py
Due: backend-mypy

Copilot agent split (#32)
  backend/app/copilot/agent.py
  backend/app/copilot/oai_agent.py
  backend/app/copilot/schema_hints.py
  backend/app/copilot/signal_schemas.py
  backend/app/copilot/sql_examples.py
  backend/app/models/copilot_schemas.py
  backend/app/routers/ai.py
  backend/config/schema_hints.yaml.example
  backend/config/sql_examples.yaml.example
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/sse.ts
  frontend/src/stores/copilot-store.ts
Due: backend-mypy, prettier, eslint

dark-mode agent
  backend/app/routers/human_signals.py
  frontend/src/components/align/annotation/AlignAnnotationCard.tsx
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/components/copilot/expand-message-modal.tsx
  frontend/src/components/copilot/thought-panel.tsx
  frontend/src/components/sidebar.tsx
Due: backend-mypy, prettier, eslint

dark-mode agent pre-commit
  backend/app/routers/human_signals.py
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/components/copilot/expand-message-modal.tsx
  frontend/src/components/copilot/thought-panel.tsx
  frontend/src/components/sidebar.tsx
Due: backend-mypy, prettier, eslint

Agent refinement - darkmode (#33)
  backend/app/routers/human_signals.py
  frontend/src/components/align/annotation/AlignAnnotationCard.tsx
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/components/copilot/expand-message-modal.tsx
  frontend/src/components/copilot/thought-panel.tsx
  frontend/src/components/sidebar.tsx
Due: backend-mypy, prettier, eslint

play
  backend/app/copilot/hooks.py
Due: backend-mypy

play (#34)
  backend/app/copilot/hooks.py
Due: backend-mypy

image fix
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/middleware.ts
Due: prettier, eslint

lnt
  backend/app/copilot/hooks.py
  frontend/src/middleware.ts
Due: backend-mypy, prettier, eslint

lnt
  frontend/src/components/copilot/copilot-sidebar.tsx
Due: prettier, eslint

Clean home (#35)
  backend/app/copilot/hooks.py
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/middleware.ts
Due: backend-mypy, prettier, eslint

+pytz
  backend/pyproject.toml
  backend/requirements.txt
Due: none

+pytz (#36)
  backend/pyproject.toml
  backend/requirements.txt
Due: none

duck-db
  backend/pyproject.toml
  backend/requirements.txt
  frontend/src/components/human-signals/DynamicCaseTable.tsx
Due: prettier, eslint

duck-db (#37)
  backend/pyproject.toml
  backend/requirements.txt
  frontend/src/components/human-signals/DynamicCaseTable.tsx
Due: prettier, eslint

axion
  backend/pyproject.toml
  backend/requirements.txt
Due: none

axion (#38)
  backend/pyproject.toml
  backend/requirements.txt
Due: none

backend sysn
  backend/app/services/sync_engine.py
  frontend/src/app/settings/page.tsx
Due: backend-mypy, prettier, eslint

backend sysn (#39)
  backend/app/services/sync_engine.py
  frontend/src/app/settings/page.tsx
Due: backend-mypy, prettier, eslint

agent hardening
  backend/app/copilot/agent.py
  backend/app/copilot/context.py
  backend/app/copilot/guardrails.py
  backend/app/copilot/hooks.py
  backend/app/copilot/llm/provider.py
  backend/app/copilot/oai_agent.py
  backend/app/copilot/request_classifier.py
  backend/app/copilot/request_router.py
  backend/app/routers/ai.py
  backend/tests/copilot/test_copilot_tracing.py
  backend/tests/copilot/test_guardrails.py
  backend/tests/copilot/test_request_classifier.py
  backend/tests/copilot/test_request_router.py
  frontend/src/components/copilot/copilot-sidebar.tsx
Due: backend-mypy, prettier, eslint

agent hardening
  backend/app/copilot/agent.py
  backend/app/copilot/oai_agent.py
  backend/app/copilot/signal_schemas.py
Due: backend-mypy

agent hardening
  backend/app/copilot/guardrails.py
  backend/app/copilot/request_classifier.py
  backend/app/copilot/request_router.py
  backend/tests/copilot/test_request_classifier.py
  backend/tests/copilot/test_request_router.py
Due: backend-mypy

agent hardening pre
  backend/app/copilot/oai_agent.py
Due: backend-mypy

harden
  backend/app/copilot/agent.py
  backend/app/copilot/builtin_sql_examples.yaml
  backend/app/copilot/oai_agent.py
  backend/app/copilot/request_router.py
  backend/app/copilot/schema_hints.py
  backend/app/copilot/signal_schemas.py
  backend/app/copilot/sql_examples.py
  backend/config/signals_metrics.yaml.example
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/components/human-signals/DynamicChartSection.tsx
  frontend/src/components/human-signals/DynamicKPIStrip.tsx
  frontend/src/components/production/BusinessKPISection.tsx
  frontend/src/lib/human-signals-utils.ts
  frontend/src/stores/copilot-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

harden
  frontend/src/components/human-signals/DynamicChartSection.tsx
Due: prettier, eslint

Init routing (#40)
  backend/app/copilot/agent.py
  backend/app/copilot/builtin_sql_examples.yaml
  backend/app/copilot/context.py
  backend/app/copilot/guardrails.py
  backend/app/copilot/hooks.py
  backend/app/copilot/llm/provider.py
  backend/app/copilot/oai_agent.py
  backend/app/copilot/request_classifier.py
  backend/app/copilot/request_router.py
  backend/app/copilot/schema_hints.py
  backend/app/copilot/signal_schemas.py
  backend/app/copilot/sql_examples.py
  backend/app/routers/ai.py
  backend/config/signals_metrics.yaml.example
  backend/tests/copilot/test_copilot_tracing.py
  backend/tests/copilot/test_guardrails.py
  backend/tests/copilot/test_request_classifier.py
  backend/tests/copilot/test_request_router.py
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/components/human-signals/DynamicChartSection.tsx
  frontend/src/components/human-signals/DynamicKPIStrip.tsx
  frontend/src/components/production/BusinessKPISection.tsx
  frontend/src/lib/human-signals-utils.ts
  frontend/src/stores/copilot-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

download button
  backend/app/routers/store.py
  frontend/src/components/copilot/copilot-sidebar.tsx
Due: backend-mypy, prettier, eslint
