Repository ax-foundry/axis: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, prettier, eslint

backend-mypy:
  name: backend mypy
  entry: bash -c 'cd backend && mypy app --ignore-missing-imports'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown "${@/#frontend\//}"' --
  language: system

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npx eslint --fix'
  language: system
  pass_filenames: false

scorecard
  backend/app/config/scorecards.py
  backend/app/routers/scorecard.py
  backend/config/scorecards.yaml.example
  backend/tests/routers/test_scorecard.py
Due: backend-mypy

issue extractor
  backend/app/routers/scorecard.py
  backend/app/services/issue_extractor_service.py
  backend/tests/routers/test_scorecard.py
Due: backend-mypy

score-card lint
  backend/app/routers/scorecard.py
Due: backend-mypy

score-card lint
  backend/app/routers/scorecard.py
  backend/tests/routers/test_scorecard.py
Due: backend-mypy

Signals scorecard extract (#54)
  backend/app/config/scorecards.py
  backend/app/routers/scorecard.py
  backend/app/services/issue_extractor_service.py
  backend/config/scorecards.yaml.example
  backend/tests/routers/test_scorecard.py
Due: backend-mypy

hooks
  backend/app/config/env.py
  backend/app/copilot/hooks.py
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/lib/hooks.ts
Due: backend-mypy, prettier, eslint

hooks
  backend/tests/copilot/test_copilot_tracing.py
  backend/uv.lock
  frontend/src/components/copilot/copilot-sidebar.tsx
Due: prettier, eslint

hooks (#55)
  backend/app/config/env.py
  backend/app/copilot/hooks.py
  backend/tests/copilot/test_copilot_tracing.py
  backend/uv.lock
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/lib/hooks.ts
Due: backend-mypy, prettier, eslint

session
  backend/app/plugins/agent_replay/config.py
  backend/app/plugins/agent_replay/models/replay_schemas.py
  backend/app/plugins/agent_replay/routers/replay.py
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/config/agent_replay.yaml.example
  frontend/src/app/agent-replay/page.tsx
  frontend/src/components/agent-replay/TracePicker.tsx
  frontend/src/components/agent-replay/index.ts
  frontend/src/components/agent-replay/session/SessionConversation.tsx
  frontend/src/components/agent-replay/session/SessionHeader.tsx
  frontend/src/components/agent-replay/session/index.ts
  frontend/src/lib/api/replay-api.ts
  frontend/src/lib/hooks/useReplayData.ts
  frontend/src/stores/replay-store.ts
  frontend/src/types/replay.ts
Due: backend-mypy, prettier, eslint

session agent replay
  frontend/src/components/agent-replay/session/SessionConversation.tsx
Due: prettier, eslint

session agent replay
  backend/tests/test_agent_replay_reviews.py
  frontend/src/app/agent-replay/page.tsx
  frontend/src/components/agent-replay/session/SessionConversation.tsx
Due: prettier, eslint

big-query
  backend/app/config/db/_base.py
  backend/app/config/env.py
  backend/app/config/paths.py
  backend/app/models/database_schemas.py
  backend/app/routers/database.py
  backend/app/services/connection_store.py
  backend/app/services/database_service.py
  backend/app/services/db/__init__.py
  backend/app/services/db/_base.py
  backend/app/services/db/_bigquery.py
  backend/app/services/db/_errors.py
  backend/app/services/db/_gcp_auth.py
  backend/app/services/db/_postgres.py
  backend/app/services/db/_query_guard.py
  backend/app/services/db/_registry.py
  backend/app/services/db/_types.py
  backend/app/services/sync_engine.py
  backend/config/eval_db.bigquery.yaml.example
  backend/pyproject.toml
  frontend/src/components/database/BigQueryFields.tsx
  frontend/src/components/database/ConnectionForm.tsx
  frontend/src/components/database/PostgresFields.tsx
  frontend/src/components/database/index.ts
  frontend/src/lib/api.ts
  frontend/src/stores/database-store.ts
Due: backend-mypy, prettier, eslint

GCP integration
  backend/.env.example
  backend/app/config/db/kpi.py
  backend/app/plugins/agent_replay/config.py
  backend/app/plugins/agent_replay/services/search_db.py
  backend/app/routers/monitoring.py
  backend/app/services/db/_bigquery.py
  backend/app/services/db/_gcp_auth.py
  backend/app/services/sync_engine.py
  frontend/src/components/monitoring/FailingOutputDetailModal.tsx
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

GCP integration
  .secrets.baseline
  backend/app/config/agents.py
  backend/app/config/paths.py
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/app/routers/database.py
  backend/app/routers/scorecard.py
  backend/app/services/connection_store.py
  backend/app/services/db/_bigquery.py
  backend/app/services/db/_gcp_auth.py
  backend/app/services/db/_postgres.py
  backend/examples/example_agent/__init__.py
  backend/tests/routers/test_scorecard.py
  backend/tests/test_agent_replay_search_db.py
Due: backend-mypy

GCP integration
  backend/app/models/database_schemas.py
  backend/app/routers/data.py
  backend/app/routers/database.py
  backend/app/routers/human_signals.py
  backend/app/routers/monitoring.py
  backend/app/services/db/_base.py
  backend/app/services/db/_bigquery.py
  backend/app/services/db/_gcp_auth.py
  backend/app/services/db/_postgres.py
Due: backend-mypy

sync_engine-v
  backend/app/services/sync_engine.py
  frontend/src/components/evaluate/visualize/scorecard/ScorecardDrilldownModal.tsx
Due: backend-mypy, prettier, eslint

sync_engine-v (#58)
  backend/app/services/sync_engine.py
  frontend/src/components/evaluate/visualize/scorecard/ScorecardDrilldownModal.tsx
Due: backend-mypy, prettier, eslint

fix: add bigquery extra to requirements for BQ database support
  backend/requirements.txt
Due: none

fix: revert axion bigquery extra (not an axion concern)
  backend/requirements.txt
Due: none

Gcp lib (#59)
  backend/requirements.txt
Due: none

fix(frontend): show db_type label dynamically on upload tab
  frontend/src/components/file-upload.tsx
Due: prettier, eslint

fix(frontend): fix import order in file-upload.tsx
  frontend/src/components/file-upload.tsx
Due: prettier, eslint

fix(frontend): show db_type label dynamically on upload tab (#60)
  frontend/src/components/file-upload.tsx
Due: prettier, eslint

term
  frontend/src/components/database/DatabaseModal.tsx
Due: prettier, eslint

bq
  backend/app/services/db/_bigquery.py
Due: backend-mypy

replay
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/tests/test_agent_replay_search_db.py
Due: backend-mypy

Fix v5 (#61)
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/app/services/db/_bigquery.py
  backend/tests/test_agent_replay_search_db.py
  frontend/src/components/database/DatabaseModal.tsx
Due: backend-mypy, prettier, eslint

new approach to load
  backend/app/routers/store.py
  backend/app/services/duckdb_store.py
  backend/app/services/sync_engine.py
  backend/tests/services/__init__.py
  backend/tests/services/test_duckdb_store_insert_aligned.py
  frontend/src/app/monitoring/page.tsx
Due: backend-mypy, prettier, eslint

filtering dropdowns
  backend/app/routers/kpi.py
  backend/app/routers/store.py
  backend/app/services/duckdb_store.py
  backend/app/services/kpi_service.py
  frontend/src/app/human-signals/page.tsx
  frontend/src/app/monitoring/page.tsx
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/stores/human-signals-store.ts
  frontend/src/stores/monitoring-store.ts
Due: backend-mypy, prettier, eslint

filtering dropdowns
  frontend/src/stores/human-signals-store.ts
Due: prettier, eslint

Fix sync-status trapdoors: resilient frontend polling + truthful backend gating
  backend/app/main.py
  backend/app/routers/store.py
  backend/app/services/duckdb_store.py
  backend/app/services/sync_engine.py
  backend/tests/routers/test_store_data_gating.py
  backend/tests/services/test_duckdb_store_insert_aligned.py
  backend/tests/services/test_seed_sync_status.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/human-signals/page.tsx
  frontend/src/app/monitoring/page.tsx
  frontend/src/lib/hooks/sync-retry.ts
  frontend/src/lib/hooks/useStoreReadiness.test.tsx
  frontend/src/lib/hooks/useStoreReadiness.ts
  frontend/src/stores/human-signals-store.ts
  frontend/src/stores/monitoring-store.ts
Due: backend-mypy, prettier, eslint

Harden incremental sync: lag-window re-pull, keyed upserts, full-rebuild backstop
  backend/app/config/db/_base.py
  backend/app/services/duckdb_store.py
  backend/app/services/sync_engine.py
  backend/tests/services/test_duckdb_store_upsert_aligned.py
  backend/tests/services/test_sync_engine_incremental.py
Due: backend-mypy

Add GCS snapshot restore for cold starts
  backend/app/config/db/duckdb.py
  backend/app/main.py
  backend/app/services/duckdb_store.py
  backend/app/services/snapshot.py
  backend/app/services/sync_engine.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/services/test_snapshot.py
Due: backend-mypy

Fix CI: prettier formatting + mypy errors
  backend/app/main.py
  backend/app/services/snapshot.py
  frontend/src/lib/hooks/useStoreReadiness.test.tsx
  frontend/src/lib/hooks/useStoreReadiness.ts
  frontend/src/stores/human-signals-store.ts
  frontend/src/stores/monitoring-store.ts
Due: backend-mypy, prettier, eslint

Fix _store_metadata create race + harden legacy-import gate
  backend/app/services/duckdb_store.py
  backend/tests/services/test_duckdb_store_metadata_init.py
  frontend/src/app/human-signals/page.tsx
  frontend/src/app/monitoring/page.tsx
Due: backend-mypy, prettier, eslint

output details
  frontend/src/components/monitoring/FailingOutputDetailModal.tsx
  frontend/src/components/shared/SignalDisplay.tsx
Due: prettier, eslint

output details
  frontend/src/components/shared/SignalDisplay.tsx
Due: prettier, eslint

Path conditions:
  backend-mypy: any of: ^backend/app/.*\.py$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
