Repository ax-foundry/axis: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, prettier, eslint

backend-mypy:
  name: backend mypy
  entry: bash -c 'cd backend && mypy app --ignore-missing-imports'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown "${@/#frontend\//}"' --
  language: system

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npx eslint --fix'
  language: system
  pass_filenames: false

human signals
  backend/app/main.py
  backend/app/routers/human_signals.py
  backend/app/routers/store.py
  backend/app/services/duckdb_store.py
  backend/app/services/human_signals_service.py
  backend/app/services/sync_engine.py
  docs/architecture/duckdb-store.md
  frontend/src/app/human-signals/page.tsx
  frontend/src/components/human-signals-data-initializer.tsx
  frontend/src/components/human-signals/DynamicCaseTable.tsx
  frontend/src/components/human-signals/DynamicChartSection.tsx
  frontend/src/components/human-signals/SignalsCaseDetailModal.tsx
  frontend/src/components/human-signals/charts/DonutChart.tsx
Due: backend-mypy, prettier, eslint

human dashboard UI
  backend/app/services/signals_display_config.py
  docs/api-reference/frontend/hooks.md
  docs/api-reference/frontend/stores.md
  docs/api-reference/frontend/types.md
  docs/architecture/frontend.md
  docs/architecture/state-management.md
  docs/configuration/customization.md
  docs/configuration/yaml-configs.md
  docs/development/code-conventions.md
  docs/guides/human-signals-guide.html
  frontend/src/app/human-signals/page.tsx
  frontend/src/components/human-signals/DynamicCaseTable.tsx
  frontend/src/components/human-signals/DynamicChartSection.tsx
  frontend/src/components/human-signals/DynamicFilters.tsx
  frontend/src/components/human-signals/SignalsCaseDetailModal.tsx
  frontend/src/lib/human-signals-utils.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

human clean
  backend/app/services/signals_display_config.py
  frontend/src/components/human-signals/DynamicChartSection.tsx
  frontend/src/components/human-signals/SignalsCaseDetailModal.tsx
Due: backend-mypy, prettier, eslint

Human dash (#11)
  backend/app/main.py
  backend/app/routers/human_signals.py
  backend/app/routers/store.py
  backend/app/services/duckdb_store.py
  backend/app/services/human_signals_service.py
  backend/app/services/signals_display_config.py
  backend/app/services/sync_engine.py
  docs/api-reference/frontend/hooks.md
  docs/api-reference/frontend/stores.md
  docs/api-reference/frontend/types.md
  docs/architecture/duckdb-store.md
  docs/architecture/frontend.md
  docs/architecture/state-management.md
  docs/configuration/customization.md
  docs/configuration/yaml-configs.md
  docs/development/code-conventions.md
  docs/guides/human-signals-guide.html
  frontend/src/app/human-signals/page.tsx
  frontend/src/components/human-signals-data-initializer.tsx
  frontend/src/components/human-signals/DynamicCaseTable.tsx
  frontend/src/components/human-signals/DynamicChartSection.tsx
  frontend/src/components/human-signals/DynamicFilters.tsx
  frontend/src/components/human-signals/SignalsCaseDetailModal.tsx
  frontend/src/components/human-signals/charts/DonutChart.tsx
  frontend/src/lib/human-signals-utils.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

metric def page
  backend/app/config/metric_definitions.py
  backend/app/routers/config.py
  backend/config/metric_definitions.yaml.example
  frontend/src/app/learn/page.tsx
  frontend/src/components/learn/KPIDefinitionsSection.tsx
  frontend/src/components/learn/LearnTabs.tsx
  frontend/src/components/learn/MetricDefinitionsSection.tsx
  frontend/src/components/learn/index.ts
  frontend/src/lib/api.ts
  frontend/src/lib/hooks.ts
  frontend/src/stores/ui-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

agent avatars
  backend/app/config/metric_definitions.py
  backend/config/metric_definitions.yaml.example
  frontend/src/components/learn/KPIDefinitionsSection.tsx
  frontend/src/components/learn/MetricDefinitionsSection.tsx
  frontend/src/components/ui/AgentAvatars.tsx
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

search
  frontend/src/components/learn/KPIDefinitionsSection.tsx
  frontend/src/components/learn/MetricDefinitionsSection.tsx
Due: prettier, eslint

learn page
  frontend/src/app/globals.css
  frontend/src/components/learn/LearnTabs.tsx
  frontend/src/components/learn/best-practices/BestPracticesTab.tsx
  frontend/src/components/learn/best-practices/CollapsibleSection.tsx
  frontend/src/components/learn/best-practices/DosDontsPanel.tsx
  frontend/src/components/learn/best-practices/PitfallCard.tsx
  frontend/src/components/learn/methods/MethodCard.tsx
  frontend/src/components/learn/methods/MethodComparisonTable.tsx
  frontend/src/components/learn/methods/MethodsTab.tsx
  frontend/src/components/learn/overview/ConceptCard.tsx
  frontend/src/components/learn/overview/DatasetItemModel.tsx
  frontend/src/components/learn/overview/OverviewTab.tsx
  frontend/src/components/learn/walkthrough/ExampleDataDisplay.tsx
  frontend/src/components/learn/walkthrough/FlowDiagram.tsx
  frontend/src/components/learn/walkthrough/InteractiveWalkthroughTab.tsx
  frontend/src/components/learn/walkthrough/PlaybackControls.tsx
  frontend/src/components/learn/walkthrough/StepDetails.tsx
  frontend/src/components/learn/walkthrough/WalkthroughTabs.tsx
  frontend/src/components/learn/walkthrough/WalkthroughViewer.tsx
Due: prettier, eslint

fmt
  frontend/src/components/learn/best-practices/BestPracticesTab.tsx
  frontend/src/components/learn/overview/OverviewTab.tsx
  frontend/src/components/learn/overview/index.ts
  frontend/src/components/learn/walkthrough/InteractiveWalkthroughTab.tsx
Due: prettier, eslint

fmt
  backend/app/config/metric_definitions.py
Due: backend-mypy

fmt
  frontend/src/app/globals.css
  frontend/src/app/learn/page.tsx
  frontend/src/components/learn/walkthrough/FlowDiagram.tsx
Due: prettier, eslint

Monitor doc link (#12)
  backend/app/config/metric_definitions.py
  backend/app/routers/config.py
  backend/config/metric_definitions.yaml.example
  frontend/src/app/globals.css
  frontend/src/app/learn/page.tsx
  frontend/src/components/learn/KPIDefinitionsSection.tsx
  frontend/src/components/learn/LearnTabs.tsx
  frontend/src/components/learn/MetricDefinitionsSection.tsx
  frontend/src/components/learn/best-practices/BestPracticesTab.tsx
  frontend/src/components/learn/best-practices/CollapsibleSection.tsx
  frontend/src/components/learn/best-practices/DosDontsPanel.tsx
  frontend/src/components/learn/best-practices/PitfallCard.tsx
  frontend/src/components/learn/index.ts
  frontend/src/components/learn/methods/MethodCard.tsx
  frontend/src/components/learn/methods/MethodComparisonTable.tsx
  frontend/src/components/learn/methods/MethodsTab.tsx
  frontend/src/components/learn/overview/ConceptCard.tsx
  frontend/src/components/learn/overview/DatasetItemModel.tsx
  frontend/src/components/learn/overview/OverviewTab.tsx
  frontend/src/components/learn/overview/index.ts
  frontend/src/components/learn/walkthrough/ExampleDataDisplay.tsx
  frontend/src/components/learn/walkthrough/FlowDiagram.tsx
  frontend/src/components/learn/walkthrough/InteractiveWalkthroughTab.tsx
  frontend/src/components/learn/walkthrough/PlaybackControls.tsx
  frontend/src/components/learn/walkthrough/StepDetails.tsx
  frontend/src/components/learn/walkthrough/WalkthroughTabs.tsx
  frontend/src/components/learn/walkthrough/WalkthroughViewer.tsx
  frontend/src/components/ui/AgentAvatars.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks.ts
  frontend/src/stores/ui-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

??
  frontend/next.config.js
  frontend/src/app/settings/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/sse.ts
Due: prettier, eslint

?? (#13)
  frontend/next.config.js
  frontend/src/app/settings/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/sse.ts
Due: prettier, eslint

middleware
  backend/app/config/env.py
  backend/app/main.py
  frontend/.env.example
  frontend/middleware.ts
  frontend/src/lib/api.ts
  frontend/src/lib/sse.ts
Due: backend-mypy, prettier, eslint

fmt
  backend/app/main.py
Due: backend-mypy

style: auto-format backend with ruff
  backend/app/copilot/graph/nodes.py
  backend/app/main.py
  backend/app/plugins/memory/services/graph_service.py
  backend/app/routers/monitoring_analytics.py
  backend/app/routers/reports.py
  backend/app/routers/store.py
  backend/app/services/database_service.py
  backend/app/services/db/_postgres.py
  backend/app/services/kpi_service.py
  backend/app/services/sync_engine.py
Due: backend-mypy

middleware (#14)
  backend/app/config/env.py
  backend/app/copilot/graph/nodes.py
  backend/app/main.py
  backend/app/plugins/memory/services/graph_service.py
  backend/app/routers/monitoring_analytics.py
  backend/app/routers/reports.py
  backend/app/routers/store.py
  backend/app/services/database_service.py
  backend/app/services/db/_postgres.py
  backend/app/services/kpi_service.py
  backend/app/services/sync_engine.py
  frontend/.env.example
  frontend/middleware.ts
  frontend/src/lib/api.ts
  frontend/src/lib/sse.ts
Due: backend-mypy, prettier, eslint

fix: proxy /api/* in Node.js route to reliably forward X-Api-Key to Cloud Run
  frontend/app/api/[...path]/route.ts
  frontend/middleware.ts
  frontend/next.config.js
Due: prettier, eslint

fix: proxy /api/* in Node.js route to reliably forward X-Api-Key to Cloud Run (#15)
  frontend/app/api/[...path]/route.ts
  frontend/middleware.ts
  frontend/next.config.js
Due: prettier, eslint

fmt
  frontend/app/api/[...path]/route.ts
Due: prettier, eslint

fmt
  frontend/middleware.ts
Due: prettier, eslint

fmt
  frontend/playwright.config.ts
Due: prettier, eslint

fmt
  .github/workflows/ci.yml
  frontend/playwright.config.ts
Due: prettier, eslint

remove playwrite for now
  .github/workflows/ci.yml
Due: none

Middle (#16)
  .github/workflows/ci.yml
  frontend/app/api/[...path]/route.ts
  frontend/middleware.ts
  frontend/playwright.config.ts
Due: prettier, eslint

path
  frontend/src/app/api/[...path]/route.ts
Due: prettier, eslint

path (#17)
  frontend/src/app/api/[...path]/route.ts
Due: prettier, eslint

auth
  frontend/middleware.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/signin/page.tsx
  frontend/src/components/providers.tsx
Due: prettier, eslint

auth google
  frontend/middleware.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/signin/page.tsx
  frontend/src/components/providers.tsx
Due: prettier, eslint

Auth (#18)
  frontend/middleware.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/signin/page.tsx
  frontend/src/components/providers.tsx
Due: prettier, eslint

auth v1
  frontend/middleware.ts
Due: prettier, eslint

Auth (#19)
  frontend/middleware.ts
Due: prettier, eslint

Path conditions:
  backend-mypy: any of: ^backend/app/.*\.py$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
