Repository ax-foundry/axis: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, prettier, eslint

backend-mypy:
  name: backend mypy
  entry: bash -c 'cd backend && mypy app --ignore-missing-imports'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown "${@/#frontend\//}"' --
  language: system

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npx eslint --fix'
  language: system
  pass_filenames: false

feat: cross-dataset schema awareness for Echo copilot
  backend/app/config/db/duckdb.py
  backend/app/copilot/oai_agent.py
  backend/app/services/duckdb_store.py
  backend/tests/copilot/test_oai_secondary_schema.py
  backend/tests/test_duckdb_live_datasets.py
Due: backend-mypy

fix: load human signals cases in DuckDB store mode
  frontend/src/app/human-signals/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/useHumanSignalsServerData.ts
Due: prettier, eslint

add support for session
  backend/app/routers/scorecard.py
  backend/app/services/human_signals_service.py
  backend/tests/routers/test_scorecard.py
Due: backend-mypy

axis
  backend/app/routers/store.py
  backend/tests/routers/test_store_data_gating.py
Due: backend-mypy

bucket for large files
  backend/.env.example
  backend/app/config/env.py
  backend/app/routers/store.py
  backend/app/services/duckdb_store.py
  backend/app/services/export_service.py
  backend/tests/routers/test_store_export.py
  backend/tests/services/test_export_service.py
  docs/configuration/environment-variables.md
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/lib/sse.ts
  frontend/src/stores/copilot-store.ts
Due: backend-mypy, prettier, eslint

sec
  backend/app/routers/store.py
  backend/tests/routers/test_store_export.py
Due: backend-mypy

lin
  backend/app/services/export_service.py
Due: backend-mypy

kpi-service
  backend/app/config/db/kpi.py
  backend/app/models/kpi_schemas.py
  backend/app/services/kpi_service.py
  backend/tests/test_kpi_service.py
  frontend/src/components/production/kpi/KPISegmentComparisonChart.tsx
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

fix(human-signals): stop /cases response exceeding Cloud Run 32 MiB cap
  backend/app/config/db/human_signals.py
  backend/app/routers/human_signals.py
  backend/app/services/human_signals_service.py
  backend/tests/routers/test_scorecard.py
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/useHumanSignalsServerData.ts
Due: backend-mypy, prettier, eslint

feat(kpi): call-weighted aggregation for rate KPIs
  backend/app/config/db/kpi.py
  backend/app/models/kpi_schemas.py
  backend/app/services/kpi_service.py
  backend/tests/test_kpi_service.py
Due: backend-mypy

fix(config): stop row_limit from silently misrepresenting what it does
  backend/app/config/db/_base.py
  backend/app/config/db/eval_db.py
  backend/app/config/db/human_signals.py
  backend/app/config/db/kpi.py
  backend/app/config/db/monitoring.py
  backend/tests/test_row_limit_clamp.py
Due: backend-mypy

fix(kpi): teach the frontend about the weighted aggregation
  frontend/src/components/production/kpi/KPISegmentComparisonChart.tsx
  frontend/src/types/index.ts
Due: prettier, eslint

test(kpi): pin the segment-comparison header label per aggregation
  frontend/src/components/production/kpi/KPISegmentComparisonChart.test.tsx
Due: prettier, eslint

fix(human-signals): render absent signal columns as — instead of 0.0%
  frontend/src/lib/human-signals-utils.test.ts
  frontend/src/lib/human-signals-utils.ts
Due: prettier, eslint

fix(human-signals): omit numeric sparkline weeks with no finite values
  frontend/src/lib/human-signals-utils.test.ts
  frontend/src/lib/human-signals-utils.ts
Due: prettier, eslint

fix(human-signals): render absent signal columns as — instead of 0.0% (#76)
  frontend/src/lib/human-signals-utils.test.ts
  frontend/src/lib/human-signals-utils.ts
Due: prettier, eslint

Path conditions:
  backend-mypy: any of: ^backend/app/.*\.py$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
