Repository ax-foundry/axis: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, prettier, eslint

backend-mypy:
  name: backend mypy
  entry: bash -c 'cd backend && mypy app --ignore-missing-imports'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown "${@/#frontend\//}"' --
  language: system

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npx eslint --fix'
  language: system
  pass_filenames: false

middle
  frontend/src/middleware.ts
Due: prettier, eslint

dd
  frontend/middleware.ts
Due: prettier, eslint

auth
  frontend/src/middleware.ts
Due: prettier, eslint

auth (#21)
  frontend/src/middleware.ts
Due: prettier, eslint

brand and db import
  backend/app/main.py
  backend/app/routers/data.py
  backend/app/routers/human_signals.py
  backend/app/routers/monitoring.py
  frontend/src/app/human-signals/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/monitoring/page.tsx
Due: backend-mypy, prettier, eslint

brand and db import (#22)
  backend/app/main.py
  backend/app/routers/data.py
  backend/app/routers/human_signals.py
  backend/app/routers/monitoring.py
  frontend/src/app/human-signals/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/monitoring/page.tsx
Due: backend-mypy, prettier, eslint

db import
  backend/app/routers/monitoring.py
  frontend/src/app/api/[...path]/route.ts
Due: backend-mypy, prettier, eslint

db import (#23)
  backend/app/routers/monitoring.py
  frontend/src/app/api/[...path]/route.ts
Due: backend-mypy, prettier, eslint

fix: use img tag for agent avatars to avoid next/image ICO incompatibility on Vercel
  frontend/src/app/page.tsx
  frontend/src/components/ui/AgentAvatars.tsx
Due: prettier, eslint

style: fix prettier formatting in page.tsx
  frontend/src/app/page.tsx
Due: prettier, eslint

fix: use img tag for agent avatars to avoid next/image ICO incompatib… (#24)
  frontend/src/app/page.tsx
  frontend/src/components/ui/AgentAvatars.tsx
Due: prettier, eslint

Revert "db import (#23)"
  backend/app/routers/monitoring.py
  frontend/src/app/api/[...path]/route.ts
Due: backend-mypy, prettier, eslint

Revert "fix: use img tag for agent avatars to avoid next/image ICO incompatib… (#24)"
  frontend/src/app/page.tsx
  frontend/src/components/ui/AgentAvatars.tsx
Due: prettier, eslint

Reapply "db import (#23)"
  backend/app/routers/monitoring.py
  frontend/src/app/api/[...path]/route.ts
Due: backend-mypy, prettier, eslint

Reapply "fix: use img tag for agent avatars to avoid next/image ICO incompatib… (#24)"
  frontend/src/app/page.tsx
  frontend/src/components/ui/AgentAvatars.tsx
Due: prettier, eslint

fix: use img tag in SourceSelector agent avatar to avoid next/image ICO 400 on Vercel
  frontend/src/components/ui/SourceSelector.tsx
Due: prettier, eslint

fix: replace next/image with img in learn and agent-replay components
  frontend/src/components/agent-replay/AgentIdentityBar.tsx
  frontend/src/components/agent-replay/TracePicker.tsx
  frontend/src/components/learn/KPIDefinitionsSection.tsx
  frontend/src/components/learn/MetricDefinitionsSection.tsx
Due: prettier, eslint

fix: don't auto-switch monitoring tab until data is loaded
  frontend/src/app/monitoring/page.tsx
Due: prettier, eslint

fix: exclude /api/config from auth middleware so sign-in page loads branding
  frontend/src/middleware.ts
Due: prettier, eslint

fix: fall back to chunked read when COPY fails with connection error
  backend/app/services/sync_engine.py
Due: backend-mypy

fix: use plain cursor in chunked_read to support Neon/PgBouncer poolers
  backend/app/services/db/_postgres.py
Due: backend-mypy

sign in and sign out pages
  frontend/src/app/auth/signin/page.tsx
  frontend/src/app/auth/signout/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/align/annotation/AlignAnnotationProgress.tsx
  frontend/src/components/align/configure/FewShotBuilder.tsx
  frontend/src/components/align/steps/AnalyzeStep.tsx
  frontend/src/components/align/steps/AnnotateStep.tsx
  frontend/src/components/align/steps/BuildEvalStep.tsx
  frontend/src/components/align/steps/ConfigureStep.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/stores/calibration-store.ts
  frontend/src/types/index.ts
Due: prettier, eslint

sign in and sign out fmt
  frontend/src/app/auth/signout/page.tsx
Due: prettier, eslint

sign in and sign out fmt
  frontend/src/components/agent-replay/AgentIdentityBar.tsx
  frontend/src/components/agent-replay/TracePicker.tsx
Due: prettier, eslint

sign in and sign out pages (#25)
  frontend/src/app/auth/signin/page.tsx
  frontend/src/app/auth/signout/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/agent-replay/AgentIdentityBar.tsx
  frontend/src/components/agent-replay/TracePicker.tsx
  frontend/src/components/align/annotation/AlignAnnotationProgress.tsx
  frontend/src/components/align/configure/FewShotBuilder.tsx
  frontend/src/components/align/steps/AnalyzeStep.tsx
  frontend/src/components/align/steps/AnnotateStep.tsx
  frontend/src/components/align/steps/BuildEvalStep.tsx
  frontend/src/components/align/steps/ConfigureStep.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/stores/calibration-store.ts
  frontend/src/types/index.ts
Due: prettier, eslint

monitor load
  frontend/src/components/monitoring-data-initializer.tsx
Due: prettier, eslint

monitor load (#26)
  frontend/src/components/monitoring-data-initializer.tsx
Due: prettier, eslint

gradient
  frontend/src/app/evaluate/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/agent-replay/NodeDetailPanel.tsx
Due: prettier, eslint

fmmt
  frontend/src/app/page.tsx
Due: prettier, eslint

settings page
  frontend/src/app/settings/page.tsx
  frontend/src/components/align/steps/BuildEvalStep.tsx
  frontend/src/components/theme-provider.tsx
Due: prettier, eslint

settings page (#28)
  frontend/src/app/settings/page.tsx
  frontend/src/components/align/steps/BuildEvalStep.tsx
  frontend/src/components/theme-provider.tsx
Due: prettier, eslint

ag-selector
  frontend/src/components/agent-replay/FailureStepSelector.tsx
Due: prettier, eslint

ag-selector (#29)
  frontend/src/components/agent-replay/FailureStepSelector.tsx
Due: prettier, eslint

pydantic v1
  backend/app/copilot/agent.py
  backend/app/copilot/llm/provider.py
  backend/app/models/copilot_schemas.py
  backend/app/routers/ai.py
  backend/app/routers/data.py
  backend/app/routers/human_signals.py
  backend/app/routers/monitoring.py
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/sse.ts
  frontend/src/stores/copilot-store.ts
Due: backend-mypy, prettier, eslint

ask echo
  backend/app/copilot/agent.py
  backend/app/copilot/llm/provider.py
  backend/app/copilot/oai_agent.py
  backend/app/routers/ai.py
  backend/pyproject.toml
  backend/requirements.txt
  docs/copilot-oai-agents.md
  docs/copilot-pydantic-ai.md
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/sse.ts
  frontend/src/stores/copilot-store.ts
Due: backend-mypy, prettier, eslint

agent up
  backend/app/config/theme.py
  backend/app/copilot/agent.py
  backend/app/copilot/oai_agent.py
  backend/app/routers/ai.py
  backend/app/services/duckdb_store.py
  backend/config/theme.yaml.example
  frontend/src/app/globals.css
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/components/copilot/expand-message-modal.tsx
  frontend/src/components/copilot/index.ts
  frontend/src/components/copilot/thought-panel.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/ui/Footer.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/sse.ts
  frontend/src/lib/theme.ts
  frontend/src/stores/copilot-store.ts
  frontend/src/stores/theme-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

Path conditions:
  backend-mypy: any of: ^backend/app/.*\.py$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
