Repository ax-foundry/axis: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: ['--fix']
        files: ^backend/
      - id: ruff-format
        files: ^backend/app/

  # Backend: mypy type check (matches CI backend-typecheck job)
  - repo: local
    hooks:
      - id: backend-mypy
        name: backend mypy
        entry: bash -c 'cd backend && mypy app --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npx eslint --fix'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

download button (#41)
  backend/app/routers/store.py
  frontend/src/components/copilot/copilot-sidebar.tsx
Due: backend-mypy, prettier, eslint

darkmode cleanup
  frontend/src/app/globals.css
  frontend/src/components/align/annotation/AlignAnnotationCard.tsx
  frontend/src/components/align/configure/FewShotBuilder.tsx
  frontend/src/components/annotation/AnnotationControls.tsx
  frontend/src/components/eval-runner/AgentConnectStep.tsx
  frontend/src/components/evaluate/compare/PerformanceKPIs.tsx
  frontend/src/components/evaluate/visualize/MetricTradeoffsTab.tsx
  frontend/src/components/shared/ConversationView.tsx
  frontend/src/components/ui/TimeRangeSelector.tsx
Due: prettier, eslint

darkmode cleanup (#42)
  frontend/src/app/globals.css
  frontend/src/components/align/annotation/AlignAnnotationCard.tsx
  frontend/src/components/align/configure/FewShotBuilder.tsx
  frontend/src/components/annotation/AnnotationControls.tsx
  frontend/src/components/eval-runner/AgentConnectStep.tsx
  frontend/src/components/evaluate/compare/PerformanceKPIs.tsx
  frontend/src/components/evaluate/visualize/MetricTradeoffsTab.tsx
  frontend/src/components/shared/ConversationView.tsx
  frontend/src/components/ui/TimeRangeSelector.tsx
Due: prettier, eslint

retry logic
  frontend/src/app/human-signals/page.tsx
  frontend/src/app/monitoring/page.tsx
  frontend/src/components/eval-data-initializer.tsx
  frontend/src/components/human-signals-data-initializer.tsx
  frontend/src/components/monitoring-data-initializer.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/sync-retry.ts
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/lib/hooks/useMonitoringData.ts
  frontend/src/lib/hooks/useProductionOverview.ts
Due: prettier, eslint

retry logic
  frontend/src/app/human-signals/page.tsx
Due: prettier, eslint

Retry sync (#43)
  frontend/src/app/human-signals/page.tsx
  frontend/src/app/monitoring/page.tsx
  frontend/src/components/eval-data-initializer.tsx
  frontend/src/components/human-signals-data-initializer.tsx
  frontend/src/components/monitoring-data-initializer.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/sync-retry.ts
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/lib/hooks/useMonitoringData.ts
  frontend/src/lib/hooks/useProductionOverview.ts
Due: prettier, eslint

kpi page
  backend/app/config/db/kpi.py
  backend/app/models/kpi_schemas.py
  backend/app/services/kpi_service.py
  backend/config/kpi_db.yaml.example
  frontend/src/app/kpi/page.tsx
  frontend/src/components/kpi-data-initializer.tsx
  frontend/src/components/production/ProductionContent.tsx
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/components/providers.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/ui/SourceSelector.tsx
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/stores/kpi-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

kpi page (#44)
  backend/app/config/db/kpi.py
  backend/app/models/kpi_schemas.py
  backend/app/services/kpi_service.py
  backend/config/kpi_db.yaml.example
  frontend/src/app/kpi/page.tsx
  frontend/src/components/kpi-data-initializer.tsx
  frontend/src/components/production/ProductionContent.tsx
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/components/providers.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/components/ui/SourceSelector.tsx
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/stores/kpi-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

kpi-page
  backend/app/models/kpi_schemas.py
  backend/app/routers/kpi.py
  backend/app/services/kpi_service.py
  frontend/src/app/kpi/page.tsx
  frontend/src/components/charts/plotly-chart.tsx
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/components/production/kpi/KPICaseProfileModal.tsx
  frontend/src/components/production/kpi/KPICategoryStrip.tsx
  frontend/src/components/production/kpi/KPIDistributionChart.tsx
  frontend/src/components/production/kpi/KPIDrillDownTable.tsx
  frontend/src/components/production/kpi/KPISegmentComparisonChart.tsx
  frontend/src/components/production/kpi/KPITrendChart.tsx
  frontend/src/components/production/kpi/index.ts
  frontend/src/components/sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/lib/kpi-format.ts
  frontend/src/stores/kpi-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

kpi-page (#45)
  backend/app/models/kpi_schemas.py
  backend/app/routers/kpi.py
  backend/app/services/kpi_service.py
  frontend/src/app/kpi/page.tsx
  frontend/src/components/charts/plotly-chart.tsx
  frontend/src/components/production/kpi/AgentKPISection.tsx
  frontend/src/components/production/kpi/KPICaseProfileModal.tsx
  frontend/src/components/production/kpi/KPICategoryStrip.tsx
  frontend/src/components/production/kpi/KPIDistributionChart.tsx
  frontend/src/components/production/kpi/KPIDrillDownTable.tsx
  frontend/src/components/production/kpi/KPISegmentComparisonChart.tsx
  frontend/src/components/production/kpi/KPITrendChart.tsx
  frontend/src/components/production/kpi/index.ts
  frontend/src/components/sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/useKpiData.ts
  frontend/src/lib/kpi-format.ts
  frontend/src/stores/kpi-store.ts
  frontend/src/types/index.ts
Due: backend-mypy, prettier, eslint

tool instructions splitting
  backend/app/copilot/agent.py
  backend/app/copilot/oai_agent.py
  backend/app/copilot/tool_instructions.py
Due: backend-mypy

copilot memory
  backend/app/config/env.py
  backend/app/copilot/agent.py
  backend/app/copilot/context.py
  backend/app/copilot/memory.py
  backend/app/copilot/oai_agent.py
  backend/app/copilot/request_router.py
  backend/app/copilot/tool_instructions.py
Due: backend-mypy

co-pilot docs
  .gitignore
  docs/architecture/copilot-agent.md
  docs/guides/copilot-architecture.html
  mkdocs.yml
Due: none

co-pilot docs pre
  backend/app/copilot/memory.py
Due: backend-mypy

Copilot clean (#46)
  .gitignore
  backend/app/config/env.py
  backend/app/copilot/agent.py
  backend/app/copilot/context.py
  backend/app/copilot/memory.py
  backend/app/copilot/oai_agent.py
  backend/app/copilot/request_router.py
  backend/app/copilot/tool_instructions.py
  docs/architecture/copilot-agent.md
  docs/guides/copilot-architecture.html
  mkdocs.yml
Due: backend-mypy

data open_ai
  .gitignore
  backend/app/config/env.py
  backend/app/copilot/agent.py
  backend/app/copilot/orchestrator/__init__.py
  backend/app/copilot/orchestrator/agents/__init__.py
  backend/app/copilot/orchestrator/agents/python_agent.py
  backend/app/copilot/orchestrator/bridge/__init__.py
  backend/app/copilot/orchestrator/bridge/thought_bridge.py
  backend/app/copilot/orchestrator/config.py
  backend/app/copilot/orchestrator/contracts.py
  backend/app/copilot/orchestrator/control.py
  backend/app/copilot/orchestrator/delegation/__init__.py
  backend/app/copilot/orchestrator/delegation/base.py
  backend/app/copilot/orchestrator/delegation/python_tool.py
  backend/app/copilot/orchestrator/delegation/sql_tool.py
  backend/app/copilot/orchestrator/orchestrator.py
  backend/app/copilot/orchestrator/prompts.py
  backend/app/copilot/orchestrator/tools/__init__.py
  backend/app/copilot/orchestrator/tools/search_schema.py
  backend/app/copilot/orchestrator/tools/synthesize.py
  backend/app/copilot/orchestrator/workspace.py
  backend/app/routers/ai.py
  backend/scripts/test_orchestrator.py
Due: backend-mypy

replay v4
  backend/app/plugins/agent_replay/models/replay_schemas.py
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/app/plugins/agent_replay/services/whatif_service.py
  frontend/src/app/agent-replay/page.tsx
  frontend/src/components/agent-replay/NodeDetailPanel.tsx
  frontend/src/components/agent-replay/ObservationTree.tsx
  frontend/src/components/agent-replay/PromptViewer.tsx
  frontend/src/components/agent-replay/TraceWaterfall.tsx
  frontend/src/components/agent-replay/index.ts
  frontend/src/components/agent-replay/smart-content.tsx
  frontend/src/components/agent-replay/whatif/WhatIfPanel.tsx
  frontend/src/components/agent-replay/whatif/WhatIfToolbar.tsx
  frontend/src/components/ui/ContentRenderer.tsx
  frontend/src/types/replay.ts
Due: backend-mypy, prettier, eslint

agent replay enhancement
  backend/app/plugins/agent_replay/config.py
  backend/app/plugins/agent_replay/models/replay_schemas.py
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/config/agent_replay.yaml.example
  backend/pyproject.toml
  backend/requirements.txt
  frontend/src/app/agent-replay/page.tsx
  frontend/src/components/agent-replay/FailureStepSelector.tsx
  frontend/src/components/agent-replay/ObservationTree.tsx
  frontend/src/components/agent-replay/OutputViewer.tsx
  frontend/src/components/agent-replay/ReviewPanel.tsx
  frontend/src/components/agent-replay/TracePicker.tsx
  frontend/src/lib/hooks/useReplayData.ts
  frontend/src/types/replay.ts
Due: backend-mypy, prettier, eslint

trace save
  backend/app/plugins/agent_replay/config.py
  backend/app/plugins/agent_replay/models/replay_schemas.py
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/app/plugins/agent_replay/services/review_service.py
  backend/config/agent_replay.yaml.example
  frontend/src/app/agent-replay/page.tsx
  frontend/src/components/agent-replay/DatasetPushControls.tsx
  frontend/src/components/agent-replay/OutputViewer.tsx
  frontend/src/components/agent-replay/ReviewPanel.tsx
  frontend/src/components/agent-replay/TracePicker.tsx
  frontend/src/types/replay.ts
Due: backend-mypy, prettier, eslint

new axion
  backend/pyproject.toml
  backend/requirements.txt
Due: none

Replay v4 (#47)
  backend/app/plugins/agent_replay/config.py
  backend/app/plugins/agent_replay/models/replay_schemas.py
  backend/app/plugins/agent_replay/services/replay_service.py
  backend/app/plugins/agent_replay/services/review_service.py
  backend/app/plugins/agent_replay/services/whatif_service.py
  backend/config/agent_replay.yaml.example
  backend/pyproject.toml
  backend/requirements.txt
  frontend/src/app/agent-replay/page.tsx
  frontend/src/components/agent-replay/DatasetPushControls.tsx
  frontend/src/components/agent-replay/FailureStepSelector.tsx
  frontend/src/components/agent-replay/NodeDetailPanel.tsx
  frontend/src/components/agent-replay/ObservationTree.tsx
  frontend/src/components/agent-replay/OutputViewer.tsx
  frontend/src/components/agent-replay/PromptViewer.tsx
  frontend/src/components/agent-replay/ReviewPanel.tsx
  frontend/src/components/agent-replay/TracePicker.tsx
  frontend/src/components/agent-replay/TraceWaterfall.tsx
  frontend/src/components/agent-replay/index.ts
  frontend/src/components/agent-replay/smart-content.tsx
  frontend/src/components/agent-replay/whatif/WhatIfPanel.tsx
  frontend/src/components/agent-replay/whatif/WhatIfToolbar.tsx
  frontend/src/components/ui/ContentRenderer.tsx
  frontend/src/lib/hooks/useReplayData.ts
  frontend/src/types/replay.ts
Due: backend-mypy, prettier, eslint

pins
  backend/Dockerfile
  backend/requirements.txt
Due: none

pins
  backend/requirements.txt
Due: none

pins
  .github/workflows/ci.yml
  backend/Dockerfile
  backend/requirements.txt
Due: none

pins
  backend/pyproject.toml
  backend/requirements.txt
Due: none

pins (#48)
  .github/workflows/ci.yml
  backend/Dockerfile
  backend/pyproject.toml
  backend/requirements.txt
Due: none

evaluation_name split
  frontend/src/app/evaluate/compare/page.tsx
  frontend/src/app/evaluate/layout.tsx
  frontend/src/app/evaluate/upload/page.tsx
  frontend/src/components/charts/bar-chart.tsx
  frontend/src/components/evaluate/EvaluationNameFilter.tsx
  frontend/src/components/evaluate/compare/CompareContent.tsx
  frontend/src/components/evaluate/compare/ComparisonTable.tsx
  frontend/src/components/evaluate/compare/DictContentSection.tsx
  frontend/src/components/evaluate/compare/FieldVisibilitySelector.tsx
  frontend/src/components/evaluate/compare/SideBySideTable.tsx
  frontend/src/components/evaluate/visualize/ConversationAnalysisTab.tsx
  frontend/src/components/evaluate/visualize/MetadataBreakdownTab.tsx
  frontend/src/components/evaluate/visualize/MetricTradeoffsTab.tsx
  frontend/src/components/evaluate/visualize/OverviewTab.tsx
  frontend/src/components/evaluate/visualize/ResponseAnalysisTab.tsx
  frontend/src/components/evaluate/visualize/ScoreDistributionTab.tsx
  frontend/src/components/evaluate/visualize/TreeTab.tsx
  frontend/src/components/evaluate/visualize/scorecard/ReportModal.tsx
  frontend/src/components/evaluate/visualize/scorecard/ScorecardKPIs.tsx
  frontend/src/components/evaluate/visualize/scorecard/ScorecardTab.tsx
  frontend/src/components/evaluate/visualize/scorecard/ScorecardTable.tsx
  frontend/src/components/ui/ContentRenderer.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/hooks/index.ts
  frontend/src/lib/hooks/useFilteredEvalData.ts
  frontend/src/stores/ui-store.ts
  frontend/src/types/index.ts
Due: prettier, eslint

evaluation_name split
  frontend/src/lib/hooks.ts
Due: prettier, eslint

evaluation_name split (#49)
  frontend/src/app/evaluate/compare/page.tsx
  frontend/src/app/evaluate/layout.tsx
  frontend/src/app/evaluate/upload/page.tsx
  frontend/src/components/charts/bar-chart.tsx
  frontend/src/components/evaluate/EvaluationNameFilter.tsx
  frontend/src/components/evaluate/compare/CompareContent.tsx
  frontend/src/components/evaluate/compare/ComparisonTable.tsx
  frontend/src/components/evaluate/compare/DictContentSection.tsx
  frontend/src/components/evaluate/compare/FieldVisibilitySelector.tsx
  frontend/src/components/evaluate/compare/SideBySideTable.tsx
  frontend/src/components/evaluate/visualize/ConversationAnalysisTab.tsx
  frontend/src/components/evaluate/visualize/MetadataBreakdownTab.tsx
  frontend/src/components/evaluate/visualize/MetricTradeoffsTab.tsx
  frontend/src/components/evaluate/visualize/OverviewTab.tsx
  frontend/src/components/evaluate/visualize/ResponseAnalysisTab.tsx
  frontend/src/components/evaluate/visualize/ScoreDistributionTab.tsx
  frontend/src/components/evaluate/visualize/TreeTab.tsx
  frontend/src/components/evaluate/visualize/scorecard/ReportModal.tsx
  frontend/src/components/evaluate/visualize/scorecard/ScorecardKPIs.tsx
  frontend/src/components/evaluate/visualize/scorecard/ScorecardTab.tsx
  frontend/src/components/evaluate/visualize/scorecard/ScorecardTable.tsx
  frontend/src/components/ui/ContentRenderer.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/hooks/index.ts
  frontend/src/lib/hooks/useFilteredEvalData.ts
  frontend/src/stores/ui-store.ts
  frontend/src/types/index.ts
Due: prettier, eslint

axis copilot protocal
  backend/app/copilot/agent_protocol.py
  backend/app/copilot/agent_registry.py
  backend/app/main.py
  backend/app/plugins/__init__.py
  backend/app/routers/ai.py
  backend/examples/example_agent/__init__.py
  backend/examples/example_agent/echo_agent.py
Due: backend-mypy

axis copilot protocal
  backend/app/copilot/agent_registry.py
  backend/examples/example_agent/__init__.py
  backend/examples/example_agent/demo_agent.py
Due: backend-mypy

query store
  backend/app/routers/store.py
  backend/app/services/duckdb_store.py
  backend/tests/routers/test_store_query.py
Due: backend-mypy

scorecard routes
  backend/app/config/scorecards.py
  backend/app/main.py
  backend/app/routers/scorecard.py
  backend/config/scorecards.yaml.example
  backend/tests/routers/test_scorecard.py
  docs/api-reference/rest-api.md
  docs/configuration/yaml-configs.md
Due: backend-mypy

Sql route (#51)
  backend/app/config/scorecards.py
  backend/app/main.py
  backend/app/routers/scorecard.py
  backend/app/routers/store.py
  backend/app/services/duckdb_store.py
  backend/config/scorecards.yaml.example
  backend/tests/routers/test_scorecard.py
  backend/tests/routers/test_store_query.py
  docs/api-reference/rest-api.md
  docs/configuration/yaml-configs.md
Due: backend-mypy

batman
  backend/app/copilot/__init__.py
  backend/app/copilot/agent.py
  backend/app/copilot/oai_agent.py
  backend/app/routers/ai.py
  frontend/src/components/copilot/copilot-sidebar.tsx
  frontend/src/lib/hooks.ts
  frontend/src/stores/copilot-store.ts
Due: backend-mypy, prettier, eslint

batman
  backend/app/config/agents.py
  backend/app/config/paths.py
  backend/app/main.py
  backend/app/routers/ai.py
  backend/app/routers/config.py
Due: backend-mypy

batman (#52)
  backend/app/config/agents.py
  backend/app/config/paths.py
  backend/app/main.py
  backend/app/routers/ai.py
  backend/app/routers/config.py
Due: backend-mypy

trace urls
  backend/app/plugins/agent_replay/services/_shared.py
  frontend/src/app/agent-replay/page.tsx
  frontend/src/components/agent-replay/PromptViewer.tsx
  frontend/src/components/agent-replay/TracePicker.tsx
Due: backend-mypy, prettier, eslint

trace urls
  frontend/src/app/agent-replay/page.tsx
Due: prettier, eslint
